{#
 * Copyright (C) 2016, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 * 
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = '' %}

{% block title 'Edit qualification'|trans %}

{% block personcontent %}
<h1>{{ 'Edit qualification'|trans }}</h1>

{{ form_start(form) }}
{{ form_errors(form) }}

{{ form_row(form.qualification) }}
{{ form_row(form.since) }}
{{ form_row(form.edd, { 'label' : 'École de devoir' } ) }}
{{ form_row(form.cv, { 'label' : 'Plaine de vacances' } ) }}


<ul class="record_actions" style="clear:both;">
    <li>
        <a href="{{ path('chill_onestat_qualification_list', { 'person_id' : person.id } ) }}" class="sc-button bt-cancel" >
            {{ "Back to the list"|trans }}
        </a>
    </li>
    <li>
        {{ form_widget(form.submit, { 'attr' : { 'class' : 'sc-button bt-edit' } } ) }}
    </li>
</ul>

{{ form_end(form) }}

{% endblock %}
