{#
 * Copyright (C) 2016, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 * 
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = '' %}

{% block title 'Qualifications list'|trans %}

{% block personcontent %}
    
    <h1>{{ 'Qualifications list'|trans }}</h1>
    
    {% if qualifications|length > 0 %}
    <table class="" style="width:100%">
        <thead>
            <tr>
                <th class="chill-green">{{ 'Since' | trans }}</th>
                <th class="chill-red">{{ 'Qualification' | trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for q in qualifications %}
            <tr>
                <td>{{ q.since|localizeddate('long', 'none') }}</td>
                <td>
                    {{ q.qualification|trans }}
                    {% if q.edd %}École de devoirs{% endif %}
                    {% if q.cv %}Centre de vacances{% endif %}
                </td>
                <td>
                    <ul class="record_actions">
                         {% if is_granted('CHILL_ONESTATS_QUALIFICATION_UPDATE', q) %}
                        <li>
                            <a href="{{ path('chill_onestat_qualification_edit', { 'person_id': q.person.id, 'qualification_id' : q.id }) }}" class="sc-button bt-edit">{{ 'Edit' | trans | capitalize }}</a>
                        </li>
                        {% endif %}

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p><span class="chill-no-data-statement">Pas de qualification</span></p>
    {% endif %}
    
        <ul class="record_actions">
            {% if is_granted('CHILL_ONESTATS_QUALIFICATION_CREATE', empty_qualification) %}
            <li>
                <a href="{{ path('chill_onestat_qualification_new', { 'person_id' : person.id } )}}" class="sc-button bt-create">
                    {{ 'New qualification'|trans }}
                </a>
            </li>
            {% endif %}
        </ul>
{% endblock %}
