{% block one_export_preparation_row %}
    {% if form.one_type == 'devoirs' %}
        {% set nnn = 'écoles de devoirs' %}
    {% elseif form.one_type == 'plaine' %}
        {% set nnn = 'plaines de vacances' %}
    {% else %}
        {% set nnn = 'école de devoirs ou plaines de vacances' %}
    {% endif %}
    
    <h3>{{ nnn|capitalize }}</h3>
    
    <h4>Période couverte</h4>
    
    <p>Indiquez la période à laquelle les <em>{{ nnn }}</em>
        doivent avoir eu lieu</p>
    
    {{ form_row(form.date_from, { 'label' : 'Depuis le' }) }}
    
    {{ form_row(form.date_to, { 'label' : "Jusqu'au" }) }}
    
    <h4>Types d'événements</h4>
    
    <p>Sélectionner les types d'événements qui sont des <em>{{ nnn }}</em></p>
    
    {{ form_widget(form.type) }}
    
    {% if form.animator is defined %}
    <h3>Animateurs</h3>
    
    <h4>Rôles</h4>
    
    {% if form.animator.roles is defined %}
    <p>Pour les types d'événements choisis, sélectionner les rôles qui permettent d'identifier les
        animateurs&nbsp;:</p>
    <p><strong>Note&nbsp;:</strong> les participants qui ne sont pas associés à l'événement
        avec un de ces rôles seront considérés comme des enfants.</p>
    
    {{ form_widget(form.animator.roles) }}
    {% endif %}
    
    {% if form.animator.roles_volunteers is defined %}
        <p>Pour les types d'événements choisis, sélectionner les rôles qui permettent 
            d'identifier les animateurs <strong>bénévoles</strong>.</p>
        {{ form_row(form.animator.roles_volunteers, { 'label' : 'Rôle des bénévoles : ' } ) }}
    {% endif %}
    
    {% if form.animator.roles_paid is defined %}
        <p>Pour les types d'événements choisis, sélectionner les rôles qui permettent 
            d'identifier les animateurs <strong>indemnisés</strong>.</p>
        {{ form_row(form.animator.roles_paid, { 'label' : 'Rôle des indemnisés : ' } ) }}
    {% endif %}
    
    {% endif %}
    
    {% if form.child is defined %}
    <div style="clear:both;">
    <h3>Enfants</h3>
    
    <h4>Rôles</h4>
    
    <p>Pour ces types événements, sélectionner les rôles qui permettent d'identifier les
        participants (enfants)&nbsp;:</p>
    
    {{ form_widget(form.child.roles) }}
    
    <h4>Âge</h4>
    
    <p>Sélectionner l'intervalle de date de naissance de ces enfants&nbsp;:</p>
    
    {{ form_row(form.child.age.birth_from, { 'label' : 'Enfants nés à partir du :' } ) }}
    {{ form_row(form.child.age.birth_to, { 'label' : 'Enfants nés avant le :' } ) }}
    
    {% if form.child.age_calculation_date is defined %}
        
        <p>Indiquez la date à laquelle l'âge des enfants doit être calculé&nbsp;:</p>
        {{ form_row(form.child.age_calculation_date, { 'label' : 'Âge à cette date :' } ) }}
        
    {% endif %}
    </div>
    {% endif %}
    
    <div style="clear:both;">
    <h3>Présence</h3>
    <p>Indiquez quels statuts indiquent que les participants doivent être 
    repris sur l'export&nbsp;:</p>
    
    {{ form_widget(form.statuses) }}
    </div>
{% endblock %}
